{%extends 'base.html'%}


{% block head %}
<title>Zone Alerting</title>
    {% endblock %}

<body>

    {% block body %}
    <h2 class="home">
    Welcome...! 
     </h2>
     <h5 class="CZA">CZA is a containment zone Alerting for team</h5>
    
   
   <br><br>
    <h1>Abstract:</h1><h3><b>-The World Health Organization has declared the outbreak of the novel coronavirus, Covid-19 as pandemic across the world.</b><br>
   ->With its alarming surge of affected cases throughout the world, lockdown, and awareness (social distancing, use of masks etc.) among people are found to be the only means for restricting the community transmission.<br>
    ->In a densely populated country like India, it is very difficult to prevent the community transmission even during lockdown without social awareness and precautionary measures taken by the people. Recently, several containment zones had been identified throughout the country and divided into red, orange and green zones, respectively. The red zones indicate the infection hotspots, orange zones denote some infection and green zones indicate an area with no infection. This paper mainly focuses on development of an Cloud application which can inform people of the Covid-19 containment zones and prevent trespassing into these zones. This Cloud application updates the locations of the areas in a Google map which are identified to be the containment zones.<br>
    ->This Cloud application updates the locations of the areas in a Google map which are identified to be the containment zones. <br>
    ->The application also notifies the users if they have entered a containment zone and uploads the user's IMEI number to the online database.<br>
    ->To achieve all these functionalities, many tools, and APIs from Google like Firebase and Geofencing API are used in this application. Therefore, this application can be used as a tool for creating further social awareness about the arising need of precautionary measures to be taken by the people of India.</em></h3>
   {% endblock %}
</body>
</html>